
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Page Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Karla|Rubik" rel="stylesheet">
        <link rel="stylesheet" href="styles/reset.css"/>
      
        <link rel="stylesheet" href="styles/base.css"/>
        <link rel="stylesheet" href="styles/themes.css"/>
    </head>
   
    <body class="water">
        <nav class="rubik water">
            <img id="profile-img" src = "../media/profile.jpg">
            <ul>
                <li>About Me</li>
                <li>Projects</li>
                <li>Resume</li>
            </ul>
        </nav>

       

        <div>
                <header class="karla water">
                        <h1>Hannah Ingham</h1>
                        <h2>JavaScript Developer</h2>
                       
                    </header>
          
            <video autoplay muted loop id="myVideo" class="water" src="media/water_waves.mp4" type="video/mp4">
                    Your browser does not support HTML5 video.
            </video>
            <section class="rubik water">
                <p>
                        As a former high school math teacher and junior JavaScript developer, I could not be more excited about the power of tech to empower citizens to engage civically and socially in their communities. With a masters degree in teaching a hard earned certifcate from codefellows JavaScript course, I bring experience, vision, and enthusiam to the ed tech industry and look for opportunities where I feel I can be part of a larger effort to support students and teachers. 
                </p>

              
            </section>

            <div class="themes water">
                    <h3 class="water">CHOOSE A THEME:</h3>
                    <section>
                        <button id="water">
                                Sea
                        </button>
                    
                        <button id="forest">
                                Tree
                        </button> 
                    
                        <button id="mountain">
                                Peak
                        </button>
                    </section>              
                </div>

            <footer class="water">
                    <p>
                    hannah.c.ingham@gmail.com
                    </p>
                </footer>

        </div>
    
    </body>

    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="app.js"></script>

</html>
