body{
    display: flex;
    flex-direction: row;
    width: 100%;
    /* height: 52em; */
    /* max-height: 49em; */
}

#profile-img{
    position: fixed;
    top: 2em;
    left: 1em;
    width: 8em;
    /* margin-top: 1em; */
    border-radius: 3px;
}

.rubik{
    font-family: 'Rubik', sans-serif;
}

.karla{
    font-family: 'Karla', sans-serif;
}


header{
    width: 100%;
    height: 10%;
}


header h1{
    font-size: 3em;
    margin: 1em .5em 1em 1em;
    font-weight: bold;
    margin-left: 1em;
}

header h2{
        font-size: 3em;
        margin: 1em .5em 1em 1em;
}


#myVideo {
    position: fixed;
    /* left: 10%; */
    left: 5em;
    top: -6em;
    min-width: 100%; 
    width: 100%;
    /* height: 60%; */
    z-index: -1;
    /* opacity: .4; */
}

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10em;
    padding: 6em;
    /* height: 100%; */
    /* position: fixed; */
    

}

nav ul{
    position: fixed;
    left: 2em;
    top: 14em;
    /* margin: 4em 0em 0em 1em; */
    /* width: 10em; */
}
nav li{
    color: white;
    padding: 1em;
}

body div{
    /* display: flex; */
    /* flex-direction: column; */
}

section p{
    font-size: 1.5em;
    padding: 2em;
    line-height: 2em;
    overflow: scroll;
}

div.themes{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}

div.themes h3{
    font-size: 1.5em;
    /* margin-top: 1em; */
}

div.themes section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div.themes button{
    margin: 1em;
    width: 6em; 
    height: 2em;
    border-radius: 1px;
    font-size: 1em;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5%;
}

footer p{
    color: rgb(252, 251, 251); 
}

section.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4%;
    padding: 4%;
}

section.projects > h2{
    text-align: center;
}

section.projects > section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

section.projects > div{
    width: 30%;
}
