body, html{
    width: 100%;
}


body{
    background-color:  rgb(245, 243, 241);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    /* grid-gap: 5px; */
    font-family: Rubik;
    margin-right: 10em;
}

/* nav{
    position: fixed;
    grid-column: 1/2;
    grid-row: 1/5;
    height: 100%;
    width: 14em;
    background: rgb(19, 52, 182);
    color: rgb(249, 255, 240);
} */


nav ul li {
    margin: 1em;
}

#logos{
   display: flex;
   flex-direction: row;
}

#logos img{
    border-radius: 100px;
    background: white;
    width: 2.5em;
    padding: .5em;  
}

#profile-img{
    margin: 1em;
    width: 10em;
    grid-column: 1/2;
}

#background{
    grid-column: 2/4;
    grid-row: 1/2;
    background-color: #867666;
    z-index: -1;
}

header{
    grid-column: 2/4;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 1fr 1fr;
    margin: 1em 0em 1em 40px;

}

h1, h2, h3{
    color: rgb(249, 255, 240);
}

h1{
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 2.3em;
}

h2{
    grid-row: 2/3;
    grid-column: 1/2;
    font-size: 1.8em;
    font-weight: bold;
}

/* h3{
    line-height: 2em;
    font-size: 1.2em;
    grid-column: 2/3;
    grid-row: 1/2;   
} */

/* #buttons{
    grid-column: 2/3;
    grid-row: 2/3;
    line-height: 2em;
    align-content: center; 
} */

/* #buttons button{
    margin: .2em;
    width: 3em; 
    height: 1.5em;
    border-radius: 1px;
    font-size: .9em;
} */

#about-me{
    /* display: flex;
    align-content: center; */
    grid-column: 2/3;
    grid-row: 2/3;
    /* background-color:  rgb(250, 250, 250); */
    line-height: 1.5em;
}

#about-me p{
    padding: 40px;
    font-size: 1.1em;
}

#about-me h2{
    font-size: 1.5em;
    color: #867666;
    width: 100%;
    margin: 1em 0em 0em 40px;
}

.projects{
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.projects h2{
    font-size: 1.5em;
    color: #867666;
    width: 100%;
    margin: 0em 0em 0em 40px;
}

span{
    height: .5em;
    width: 100%;
    margin-left: 40px;
    background-color: rgb(205, 196, 184);
}

.projects span, h2{
    margin: .5em;
}

.projects div{
    margin: 1em;
    width: 250px;
    background-color: rgb(205, 196, 184);
    padding: 1em;
    text-align: center;
}

.projects div h3{
    color: #3a3632;
    font-weight: bold;
    font-size: 1.2em;
}

section.project-des{
    margin: auto;
}

section.project-des p{
    min-height: 5em;
    padding: 0em 1em;
}

section.project-des{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 12em;
}

.projects a{
    background-color: rgb(250, 250, 250);
    color: #3a3632;
    display: block;
    font-size: 1em;
    padding: .3em;
    margin: .5em 0 .5em 0; 
}

.projects img{
    margin: 2em 0em;
    width: 150px;
}


footer{
    grid-column: 2/3;
    grid-row: 4/5;
    background-color: #EAE2D6;
    height: auto;
}




